body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: auto;
  padding: 25px 40px;
  box-sizing: border-box;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
.logo {
  display: flex;
  height: 35px;
}
.vr {
  color: #000;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 900;
  padding-left: 10px;
}
.por {
  color: blue;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}
.buy {
  width: 176px;
  height: 50px;
  border-radius: 5px;
  background: #0d6efd;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  border: none;
}
.header_btn_container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.product_btn img {
  transition: all 0.5s;
}
.product_btn {
  display: flex;
  align-items: center;
}
.container {
  width: 96%;
  margin: auto;
  max-width: 1200px;
}
.gradient {
  background: linear-gradient(
    109deg,
    #cbffa1 -0.61%,
    #ffd79a 50.63%,
    #ff8c21 50.64%,
    #9d00d4 99.02%
  );
  width: 75%;
  height: 511.5px;
  flex-shrink: 0;
  border-radius: 50px;
  position: relative;
  margin: auto;
  margin-top: 126px;
}
.white,
.black {
  position: absolute;
}
.white {
  top: -62px;
  left: -80px;
}
.black {
  bottom: -118px;
  right: -86px;
}
.title {
  color: #000;
  text-align: center;
  font-size: 70px;
  font-weight: 900;
  margin-top: 66px;
}
.subtitle {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  width: 80%;
  max-width: 900px;
  margin: auto;
  margin-top: 160px;
}
.burgermenu {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 0px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  box-sizing: border-box;
  transition: all 0.5s;
  overflow: hidden;
  align-items: center;
}
.burger_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.burger_item img {
  width: 50px;
  height: auto;
}
.burger_item span {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.title2 {
  padding-top: 160px;

  color: #000;
  text-align: left;
  font-size: 70px;
  font-weight: 900;
  width: 100%;
}
hr {
  stroke-width: 1px;
  stroke: #9f9f9f;
  height: 0px;
  flex-shrink: 0;
}
.parent {
  display: grid;
  width: 100%;
  height: 645px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  margin: auto;
}
.div1 {
  grid-area: 1 / 1 / 3 / 2;
  background: radial-gradient(
      89.15% 94.55% at 11.85% 31.04%,
      #b462f4 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("./assets/Image20231022133623.png"),
    lightgray 100% center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 75px 25px 25px;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  background-image: url("./assets//__background\ \(1\).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 75px 25px 25px;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
  background-image: url("./assets//__background\ \(2\).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 75px 25px 25px;
}
.div4 {
  grid-area: 2 / 2 / 3 / 4;
  background-image: url("./assets//__background\ \(3\).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 75px 25px 25px;
}

video {
  width: 100%;
  margin-top: 100px;
}
.product_title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 900;
}
.product_text {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product_button,
.product_button2,
.product_button3,
.product_button4 {
  background-color: #0d6efd;
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 37px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product_button2 {
  margin-top: 170px;
}
.product_button3 {
  margin-top: 30px;
}
.product_button4 {
  margin-top: 100px;
}
.button_opport {
  background-color: white;
  color: #000;
  padding: 52px 0;
  width: 100%;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all 0.2s;
  text-align: center;
  box-sizing: border-box;
}
.button_opport:hover {
  background-color: black;
  color: white;
}
.opportunity_container {
  width: 22%;
}
.opport_img {
  background-image: url("./assets/opport1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  padding: 40px;
  display: flex;
  align-items: end;
  justify-content: end;
  transition: all 0.2s;
}
.opportunity {
  width: 100%;
  display: flex;
  height: 508px ;
}
.opport_img_text {
  text-align: right;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
  width: 50%;
  box-sizing: border-box;
}
.board_img {
  background-image: url("./assets/image\ 1.png");
  background-repeat: no-repeat;
  margin-top: 80px;
  width: 100%;
  height: 676px;
  display: flex;
 box-sizing: border-box;
 flex-shrink: 0;
 justify-content: end;
}
.parent2 {
  display: grid;
  /* width: 291.709px; */
  height: 224.392px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 15px;

color: #fff;
}


.div11 {
  grid-area: 1 / 1 / 2 / 2;
  background-color:#222 ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 75px 25px 25px;
  }

.div22 {
  grid-area: 1 / 2 / 2 / 3;
  background-color:#222 ;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 75px 25px 25px;
}
.div33 {
  grid-area: 2 / 2 / 3 / 3;
  background-color:#222 ;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 75px 25px 25px;
}
.div44 {
  grid-area: 2 / 1 / 3 / 2;
  background-color:#222 ;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 75px 25px 25px;
}
.footer{
  background-color: #000;
  width: 100%;
  color: white;
}
.footer_pages{
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.footer_title{
  color: #FFF;
margin-bottom: 45px;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.footer_subtitle li{
  color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;

}
.footer_subtitle{
  list-style-type: none;
  margin: 0;
  padding: 0;
display: flex;
flex-direction: column;
gap: 26px;
}
.footer_info{
  display: flex;
  justify-content: space-between;
margin: 130px 0px;
box-sizing: border-box;
}
.footer_social{
  color: #FFF;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: normal;
border-bottom: 1px solid white;
display: flex;
align-items: center;
}
.footer_social img{
  margin-left: 20px;
}
.footer_social span{
  margin-right: 50px;
}
.footer_contacts{
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.footer_contacts button{
padding: 32px 80px;
border: none;
color: rgb(0, 0, 0);
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
background-color: white;
text-align: right;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.button_help{
  text-decoration: none;
  color: #000;
}